/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body */
body {
    background-color: whitesmoke;
}

/* navegador */
nav {
    display: inline-block;
}

nav a {
    border: solid 0.2rem black;
    text-decoration: none;
    background-color: red;
    color: white;
    margin-left: 0.3rem;
    padding: 0.3rem 2rem;
    position: relative;
    left: 2rem;
    bottom: 0.6rem;
    font-size: larger;
    border-radius: 5rem;
    font-weight: bold;
}

a[href="#"] {
    color: white;
    background-color: blue;
}

a:hover {
    background-color: darkblue;
    font-size: larger;
}

/* imagenes */
header figure img {
    width: 100%;
}

main img {
    width: 15%;
    height: 15%;
    object-fit: contain;
    margin: 2rem;
}

/* titulos */
h1 {
    display: inline-block;
    font-style: italic;
    font-size: 3.5rem;
    color: darkblue;
    padding: 1rem;
}

#border {
    text-align: center;
    background-color: red;
    color: white;
    font-size: xx-large;
    padding: 1rem;
}

/* secciones */
section {
    display: inline-block;
    vertical-align: top;
    padding-top: 5rem;
    padding-left: 5rem;
    width: 75%;
}

section p {
    padding-bottom: 2rem;
    padding-left: 2rem;
}

/* footer */
footer {
    min-height: 6rem;
    text-align: center;
    padding-top: 3rem;
    color: white;
    background-color: darkblue;
    font-size: larger;
}